@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .chat-list-search {
        @apply p-2 w-full h-[45px];
    }
    .chat-list-search input {
        @apply w-full rounded-md bg-gray-200 p-2
        dark:dark:bg-dark-chat-unit-bg
        dark:focus:bg-dark-sidebar-bg-lighter
        focus:bg-white
        focus:outline-sky-500;
    }

    .chat-sidebar-list {
        @apply h-screen bg-white min-w-[250px] w-full max-w-[460px]
        overflow-auto;
    }

    .chat-user {
        @apply hover:bg-side-chat-hover min-w-full
        dark:hover:bg-dark-chat-unit-hover
        dark:focus:bg-dark-chat-unit-focus
        min-h-[80px] max-h-[80px]
      focus:bg-sidebar-ico-focus focus:text-white
        cursor-pointer
        grid grid-cols-chat-list-unit-col grid-rows-chat-list-unit-row gap-2
        p-4 relative;
    }

    .chat-image {
        @apply w-[60px] h-[60px] rounded-full object-cover;
    }

    .chat-view-loading {
        @apply absolute w-full h-[80px];
    }

    .chat-view-loading:after {
        @apply dark:bg-dark-sidebar-bg;
        content: "\A";
        position: absolute;
        width: 100%;
        height: 80px;
        top: 0;
        left: 0;
        opacity: 0.5;
        transition: all 1s;
        -webkit-transition: all 1s;
    }
}
