@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-container {
        @apply top-0 left-0 w-full h-full absolute z-50;
    }
    .menu {
        @apply relative bg-dark-chat-unit-bg w-[0px] h-0 rounded-lg pt-[10px]
        dark:text-gray-200
        shadow-xl
        overflow-auto
        overflow-y-hidden
        overflow-x-hidden
        shadow-black;
    }
    .menu li {
        @apply p-2 pl-5 cursor-pointer flex items-center opacity-0;
    }

    .menu li:hover {
        @apply dark:bg-dark-sidebar-bg-lighter;
    }

    .flipH {
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }

    .flipV {
        -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        -o-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
        transform: scale(1, -1);
    }
}
