@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto";
    font-size: 14px;
}

.app {
    background-size: cover;
    background-position: center;
    @apply bg-light-theme dark:bg-dark-sidebar-bg dark:bg-[url('')];
}

#root {
    @apply w-full h-screen;
}

@layer utilities {
    .border-gray {
        @apply border-gray-200 border-[1px] p-2;
    }
    .border-dark {
        @apply border-dark-sidebar-bg border-[1px] p-2;
    }
    .text-header-bold {
        @apply font-semibold text-lg;
    }
    .text-default-gray {
        @apply text-side-gray text-sm font-normal;
    }
}

@media screen(lg) {
    .my-chat-message {
        @apply self-start flex-row;
    }
}

@layer components {
    @media screen and (max-width: 1378px) {
        .txt {
            @apply break-words max-w-[50vw];
        }
    }
    @media screen and (max-width: 1000px) {
        .chat-sidebar-list {
        }
        .txt {
            @apply break-words max-w-[40vw];
        }
    }

    @media screen and (max-width: 800px) {
        .chat-sidebar-list {
            @apply absolute left-[100px] w-[calc(100%-100px)] max-w-none min-w-0;
        }
        .sidebar-container {
            @apply grid grid-cols-side-container-sm;
        }
    }
}

.all-shadow {
    @apply absolute w-full h-full top-0 left-0 bg-black/50 z-50;
}
